#btnBox {
  margin-top: 50px;
  text-align: center;
}

.listBox {
  margin-top: 50px;

  .listItem {
    padding: 15px 20px;
    border-bottom: 1px solid rgba($color: white, $alpha: 0.6);
  }

  .listItem:nth-child(1) {
    border-top: 1px solid rgba($color: white, $alpha: 0.6);
  }
}
